<% if (messages && messages.length > 0) { %>
    <div class="flash-messages">
        <% messages.forEach(message => { %>
            <div class="flash-message <%= message.type %>">
                <%= message.text %>
            </div>
        <% }) %>
    </div>
<% } %>