<div class="search-sidebar">
  <h3>Search Inventory</h3>
  
  <div class="search-section">
    <h4>Search By Make</h4>
    <ul class="search-list">
      <li><a href="/inv/search?make=Toyota">Toyota</a></li>
      <li><a href="/inv/search?make=Honda">Honda</a></li>
      <li><a href="/inv/search?make=Nissan">Nissan</a></li>
      <li><a href="/inv/search?make=Mazda">Mazda</a></li>
      <li><a href="/inv/search?make=Subaru">Subaru</a></li>
      <li><a href="/inv/search?make=Ford">Ford</a></li>
      <li><a href="/inv/search?make=Chevrolet">Chevrolet</a></li>
      <li><a href="/inv/search?make=Jeep">Jeep</a></li>
      <li><a href="/inv/search?make=Hyundai">Hyundai</a></li>
      <li><a href="/inv/search?make=Kia">Kia</a></li>
    </ul>
  </div>
  
  <div class="search-section">
    <h4>Search By Type</h4>
    <ul class="search-list">
      <li><a href="/inv/sedan">Sedan</a></li>
      <li><a href="/inv/suv">SUV</a></li>
      <li><a href="/inv/truck">Truck</a></li>
      <li><a href="/inv/search?type=Coupe">Coupe</a></li>
      <li><a href="/inv/search?type=Hatchback">Hatchback</a></li>
      <li><a href="/inv/search?type=Van">Van</a></li>
      <li><a href="/inv/search?type=Convertible">Convertible</a></li>
    </ul>
  </div>
  
  <div class="search-section">
    <h4>Search By Price</h4>
    <ul class="search-list">
      <li><a href="/inv/search?price=under20k">Under $20,000</a></li>
      <li><a href="/inv/search?price=20k-25k">$20,000 - $25,000</a></li>
      <li><a href="/inv/search?price=25k-30k">$25,000 - $30,000</a></li>
      <li><a href="/inv/search?price=30k-35k">$30,000 - $35,000</a></li>
      <li><a href="/inv/search?price=35k-40k">$35,000 - $40,000</a></li>
      <li><a href="/inv/search?price=over40k">Over $40,000</a></li>
    </ul>
  </div>
  
  <div class="search-section">
    <h4>Search By Features</h4>
    <ul class="search-list">
      <li><a href="/inv/search?feature=4WD">4WD</a></li>
      <li><a href="/inv/search?feature=LeatherSeats">Leather Seats</a></li>
      <li><a href="/inv/search?feature=SunRoof">Sun Roof</a></li>
      <li><a href="/inv/search?feature=Hybrid">Hybrid</a></li>
      <li><a href="/inv/search?feature=Electric">Electric</a></li>
      <li><a href="/inv/search?feature=Diesel">Diesel</a></li>
    </ul>
  </div>
  
  <div class="search-image">
    <img src="/images/search-banner.jpg" alt="Find your perfect vehicle" width="100%">
  </div>
</div>